@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  /* border:1px solid green;       */
    font-family: "Poppins", sans-serif;
} 
 
.custom-container {
  width: 80% !important;
  max-width: 1200px !important;
  margin: auto !important;  
}  
  
.home-hero {
  background: url("./src/img/hero-bg-bus-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide{
  height:100%;
}


@media(max-width:676px){
  .custom-container{
    width:90%;
  }
}